<div class="product-details-container">
  <app-cart></app-cart>
  <button mat-raised-button color="primary" (click)="goBack()">Voltar</button>
  <div class="product-details">
    <h1>{{ product?.name }}</h1>
    <img [src]="product?.image" alt="{{ product?.name }}" class="product-image">
    <p class="product-description">{{ product?.description }}</p>
    <p class="product-price">R$ {{ product?.price }}</p>
    <p>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of product?.tags">{{ tag }}</mat-chip>
      </mat-chip-list>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="addToCart()">
        <mat-icon>shopping_cart</mat-icon>
        Adicionar ao Carrinho
      </button>
    </p>
  </div>
</div>
