// Definindo cores personalizadas
/* $purple: #7b1fa2;
$light-purple: #ae52d4;
$dark-purple: #4a0072;

body {
  background-color: $light-purple;
  color: $dark-purple;
}

.custom-button {
  background-color: $purple;
  color: white;
  border: 1px solid darken($purple, 10%);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: darken($purple, 10%);
  }
}
 */
