<mat-toolbar color="primary">
  <span>Minha Aplicação</span>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Exemplo de Botão">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="false" position="end">
    <app-cart></app-cart>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
